html{width:100%; height:100%; margin:0; padding:0;}

@font-face {
    font-family: 'Open Sans';
    
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;

}


body{background:#FFF; width:100%; height:100%; margin:0; padding:0; display:table; font-family: 'Open Sans'; font-size:13px;}

.green-gredient{background: #dbff9a; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #dbff9a 0%, #428a00 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#dbff9a), color-stop(100%,#428a00)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #dbff9a 0%,#428a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #dbff9a 0%,#428a00 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #dbff9a 0%,#428a00 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #dbff9a 0%,#428a00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbff9a', endColorstr='#428a00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.main_div{text-align:center; margin:0 2%; width:96.1%; padding:0;}

.fl{float:left;}
.fr{float:right;}
.clr{clear:both;}

input[placeholder], [placeholder], *[placeholder] {
    color:#000 !important;
}

.logo{margin:15% 0 10%;}
.login_inputs .user_input{width:72%; background:url(../images/user-icons.png) no-repeat rgba(255, 255, 255, 0.7); border:none; padding:6px 10px 6px 25px; margin:0 0 15px; background-position:3px 5px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
.login_inputs .pass_input{width:72%; background:url(../images/user-icons.png) no-repeat rgba(255, 255, 255, 0.7); border:none; padding:6px 10px 6px 25px; margin:0 0 15px; background-position:3px -45px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}

.forgot{width:50%;}
.forgot a{text-decoration:none; color:#333;}
.forgot a:hover{text-decoration:none; color:#fff;}

.loginpage_btns{width:92%; margin:35px auto 0;}


.login_btn_div{width:45%; height:36px; }
.login_btn{background:url(../images/login-icon.png), url(../images/login-btn-bg1.png); background-position:5px 10px, 0 0; background-repeat:no-repeat, repeat-x; width:100%; height:36px; border:none; cursor:pointer; color:#FFF; text-shadow:0 0 0 #000; font-size:16px; margin-left:14px;}
.but{background:none; border:0; line-height:33px; color:#fff; font-size:17px; text-align:center; width:100%;}

.login_btn_div .left_btn{ width:88%; background:url(../images/login-btn-bg1.png); height:36px; background-repeat:repeat-x; background-position:0 0; border-bottom-left-radius:5px;  border-top-left-radius:5px;}
.login_btn_div .left_btn button{color:#fff;}
.login_btn_div .right_btn{ width:14px; background:url(../images/login-btn-bg2.png) no-repeat; height:36px;}

.signup_btn_div{width:45%; height:36px;}
.signup_btn_div .left_btn{ width:88%; background:url(../images/signup-btn-bg1.png); height:36px; background-repeat:repeat-x; background-position:0 0; border-bottom-right-radius:5px;  border-top-right-radius:5px;}
.signup_btn_div .left_btn button{color:#333;}
.signup_btn_div .right_btn{ width:14px; background:url(../images/signup-btn-bg2.png) 1px 0px no-repeat; height:36px;}
.signup-icon{background:url(../images/signup-icon.png) no-repeat 0px 0px; width:20px; height:19px; float:right;}

.signup_btn{background:url(../images/signup-btn-bg1.png) repeat-x right center; width:112px; height:36px; border:none; cursor:pointer; color:#000; text-shadow:0 0 0 #fff; font-size:16px;}

.need_help{margin: 20px 0px 0px;}
.need_help a{line-height: 27px; text-decoration: none; color:#fff;}

/*-- Signup page --*/

.signup-logo{margin:10% 0;}

.signup_inputs .signup_box{width:80%; background:rgba(0, 0, 0, 0); border:1px solid #333; padding:6px 10px; margin:0 0 3px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; color:#333;}
.signup_inputs .select_box{width:87%; background: rgba(0, 0, 0, 0); border:1px solid #333; padding:6px 3px; margin:0 0 15px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}

.gender{margin: 0px auto; border: 1px solid rgb(51, 51, 51); border-radius: 4px; text-align: left; padding: 5px 7px; width: 82%; color: rgb(51, 51, 51);}

.registerpage_btns{width:92%; margin:30px auto 0;}

/*-- home page --*/

.interest-topbar{background:#76b923; height:50px; width:100%;}
 .left-top-btn{ position:absolute; left:0; top:0;}
 .right-top-btn{ position:absolute; right:0; top:0;}
 .right-top-btn img{margin:5px 10px 0 0px;}
 .menu_btn_top{ background:url(../images/menu-icon.png) no-repeat 0px 0px rgba(0, 0, 0, 0); height:25px; width:34px; margin:15px 0 0 10px; padding:0; border:none; background-size:28px;}
 .map_btn_top{ background:url(../img/top_tick_icons.png) no-repeat -39px 9px rgba(0, 0, 0, 0); height:59px; width:59px; margin:0; padding:0; border:none;}
 
 .top_head_bg{padding: 17px 0 0; margin:0 auto; text-align:center;}
 .top_heading{text-align:center; color:#FFF; font-family:'Open Sans', sans-serif; font-weight:normal; font-size:14px;}
 
 .unselect{background:url(../images/unselect-ctgry.png) no-repeat center; width:100px; height:100px; margin:0 auto; text-align:center; color:#76b923; font-size:14px; line-height:100px; cursor:pointer;}
 
 .ctgry-row{width:100%; margin:16% auto 0; position: relative;}
  .ctgry-row-2{width:100%; margin:16% auto 0; position: relative;}
 .left_category{margin: 0px; position: absolute; top: 75px; left: 30px;}
 .right_category{margin: 0px; position: absolute; top: 75px; right: 30px;}
<<<<<<< HEAD
 
 .white-strip{background:url(../images/ctgry-list-head-3.png) repeat-x center; height:53px; width:100%; text-align:center; color:#FFF; font-size:16px; font-family:'Open Sans', sans-serif; line-height:75px;}
 
   /*.list-head-box{background:url(../images/ctgry-list-head-2.png) no-repeat; height:53px; width:100px; margin:0 auto; float:left;}*/

.ctgry-list-main{background:url(../images/ctgry-list-bg.jpg) no-repeat; background-size:cover; margin:12% 0 0;}
=======
>>>>>>> parent of 1d2f32b... working on second phase of home page

.list-area{padding:10px 10px 0; width:93.491%; height:330px; overflow-y:scroll;}

.single-user{ width:100%; margin:0 0 10px;}
.user-list-pic{ width:49px; height:49px; border:2px solid #76b923; overflow:hidden;}
.user-list-pic img{width:49px;}
.user-title{background:rgba(255, 255, 255, 0.6); padding:10px 0 10px 5px; margin:15px 0 0; text-align:left; width:79.8%;}






