html{width:100%; height:100%; margin:0; padding:0;}

@font-face {
    font-family: 'Open Sans';
    
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;

}

.loader-bg{background:rgba(0, 0, 0, 0.5); width:100%; height:100%; position:fixed;}
.loader-area{position: absolute; margin: 0px auto; text-align: center; width: 100%; top: 45%;}
.loader-area img{width: 17%;}

a img{border:none;}

body{background:#FFF; width:100%; height:100%; margin:0; padding:0; display:table; font-family: 'Open Sans'; font-size:13px;}

.green-gredient{background: #dbff9a; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #dbff9a 0%, #428a00 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#dbff9a), color-stop(100%,#428a00)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #dbff9a 0%,#428a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #dbff9a 0%,#428a00 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #dbff9a 0%,#428a00 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #dbff9a 0%,#428a00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbff9a', endColorstr='#428a00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.main_div{text-align:center; margin:0; width:100%; padding:0; height:430px; overflow-y:scroll; position:relative;}
.login_main_div{text-align:center; margin:0; width:96.1%; padding:0 2%;}
.fl{float:left;}
.fr{float:right;}
.clr{clear:both;}

input[placeholder], [placeholder], *[placeholder] {
    color:#000 !important;
}

.logo{margin:15% 0 10%;}
.login_inputs .user_input{width:72%; background:url(../images/user-icons.png) no-repeat rgba(255, 255, 255, 0.7); border:none; padding:6px 10px 6px 25px; margin:0 0 15px; background-position:3px 5px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
.login_inputs .pass_input{width:72%; background:url(../images/user-icons.png) no-repeat rgba(255, 255, 255, 0.7); border:none; padding:6px 10px 6px 25px; margin:0 0 15px; background-position:3px -45px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}

.forgot{width:50%;}
.forgot a{text-decoration:none; color:#333;}
.forgot a:hover{text-decoration:none; color:#fff;}

.loginpage_btns{width:92%; margin:35px auto 0;}


.login_btn_div{width:45%; height:36px; }
.login_btn{background:url(../images/login-icon.png), url(../images/login-btn-bg1.png); background-position:5px 10px, 0 0; background-repeat:no-repeat, repeat-x; width:100%; height:36px; border:none; cursor:pointer; color:#FFF; text-shadow:0 0 0 #000; font-size:16px; margin-left:14px;}
.but{background:none; border:0; line-height:33px; color:#fff; font-size:17px; text-align:center; width:100%;}

.login_btn_div .left_btn{ width:88%; background:url(../images/login-btn-bg1.png); height:36px; background-repeat:repeat-x; background-position:0 0; border-bottom-left-radius:5px;  border-top-left-radius:5px;}
.login_btn_div .left_btn button{color:#fff;}
.login_btn_div .right_btn{ width:14px; background:url(../images/login-btn-bg2.png) no-repeat; height:36px;}

.signup_btn_div{width:45%; height:36px;}
.signup_btn_div .left_btn{ width:88%; background:url(../images/signup-btn-bg1.png); height:36px; background-repeat:repeat-x; background-position:0 0; border-bottom-right-radius:5px;  border-top-right-radius:5px;}
.signup_btn_div .left_btn button{color:#333;}
.signup_btn_div .right_btn{ width:14px; background:url(../images/signup-btn-bg2.png) 1px 0px no-repeat; height:36px;}
.signup-icon{background:url(../images/signup-icon.png) no-repeat 0px 0px; width:20px; height:19px; float:right;}

.signup_btn{background:url(../images/signup-btn-bg1.png) repeat-x right center; width:112px; height:36px; border:none; cursor:pointer; color:#000; text-shadow:0 0 0 #fff; font-size:16px;}

.need_help{margin: 20px 0px 0px;}
.need_help a{line-height: 27px; text-decoration: none; color:#fff;}

/*-- Signup page --*/

.signup-logo{margin:10% 0;}
.signup-logo img{width:53%;}

.signup_inputs .signup_box{width:80%; background:rgba(255, 255, 255, 0.7); border:none; padding:6px 10px; margin:0 0 3px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; color:#333;}
.signup_inputs .select_box{width:87%; background: rgba(255, 255, 255, 0.7); border:none; padding:6px 3px; margin:0 0 15px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}

.gender{margin: 0px auto; border:none; border-radius: 4px; text-align: left; padding: 5px 7px; width: 82%; color: rgb(51, 51, 51); background: rgba(255, 255, 255, 0.7);}

.registerpage_btns{width:92%; margin:30px auto 0;}

/*-- home page --*/

.interest-topbar{background:#76b923; height:50px; width:100%;}
 .left-top-btn{ position:absolute; left:0; top:0; z-index:1;}
 .right-top-btn{ position:absolute; right:10px; top:7px; z-index:2;}
 .right-top-btn img{}
 .menu_btn_top{ background:url(../images/menu-icon.png) no-repeat 0px 0px rgba(0, 0, 0, 0); height:25px; width:34px; margin:15px 0 0 10px; padding:0; border:none; background-size:28px;}
 .map_btn_top{ background:url(../img/top_tick_icons.png) no-repeat -39px 9px rgba(0, 0, 0, 0); height:59px; width:59px; margin:0; padding:0; border:none;}
 
 .top_head_bg{padding: 17px 0 0; margin:0 auto; text-align:center;}
 .top_heading{text-align:center; color:#FFF; font-family:'Open Sans', sans-serif; font-weight:normal; font-size:14px;}
 
 .unselect{background:url(../images/unselect-ctgry-3.png) no-repeat center; width:86px; height:86px; margin:0 auto; text-align:center; color:#fff; font-size:12px; line-height:86px; cursor:pointer; text-shadow:0 1px 0 rgba(0, 0, 0, 0.7); font-weight:bold;}
 
 .ctgry-row{width:100%; margin:5% auto 0; position: relative; display:table;}
 .ctgry-row-2{width:100%; margin:7% auto 0; position: relative; display:table;}
 .ctgry-row-3{width:100%; margin:7% auto 0; position: relative; display:table;}
  
 .left_box{margin:0 0 0 15px; float:left;}
  .mid_box{margin: 0px auto; width:100%; position: absolute; top:55px;}
 .right_box{margin:0 15px 0 0; float:right;}
 
 .navigation{}
 

 
 .white-strip{background:url(../images/ctgry-list-head-3.png) repeat-x center; height:53px; width:100%; text-align:center; color:#FFF; font-size:16px; font-family:'Open Sans', sans-serif; line-height:75px;}
 
   /*.list-head-box{background:url(../images/ctgry-list-head-2.png) no-repeat; height:53px; width:100px; margin:0 auto; float:left;}*/

.ctgry-list-main{/*background:url(../images/ctgry-list-bg.jpg) no-repeat; background-size:cover; */margin:7% 0 0;}


.list-area{padding:0; width:100%; height:343px; overflow-y:scroll;}

.single-user{ width:100%; margin:0 0 20px; background:url(../images/menu-shadow.png) no-repeat bottom center;}
.user-list-pic{width:49px; height:49px; overflow:hidden; box-shadow:2px 2px 4px -2px rgba(0, 0, 0, 0.7); margin:0 5px 5px 0;}
.user-list-pic img{width:49px;}
.user-title{ padding:0 5px 5px 0; margin:0; text-align:left; font-size:12px;}

.frnd-list-main{width: 100%; margin: 0px auto 10px; height:300px; overflow-y:scroll; background:#FFF;}
.single-frnd{padding: 0px; font-size: 12px; font-family:sans-serif; color:#76b923; font-weight: bold; width:48%; line-height:50px; float: left; margin: 15px 0px 0px 5px; background:#f3f3f3; border-top-left-radius:100%; border-bottom-left-radius:100%;}
.single-frnd-imgarea{width:55px; height: 55px; border-radius: 50%; overflow: hidden; box-shadow:2px 2px 2px -1px rgba(0, 0, 0, 0.8);}
.single-frnd-imgarea img{width:100%;}

.profile-setting{}

.profile-menu{background:#bbb; margin:-4px 0 0; text-align:center; box-shadow:0 2px 3px -1px rgba(0, 0, 0, 0.7);}
.profile-menu ul{margin:0; padding:0;}
.profile-menu ul li{margin:0; padding:5px 14px; list-style:none; color:#FFF; border-bottom:1px solid #ccc;}

.profile-pic{width:50%; height:154px; margin:20px auto 0; border-radius:0%;/* border:4px solid #efefef; */overflow:hidden; position:relative; box-shadow:2px 2px 2px -1px rgba(0, 0, 0, 0.8);}
.profile-pic img {width:102%;}
.change-pic{bottom: 0px; background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6); font-size: 12px; text-align: center; margin: 0px auto; position: absolute; padding:10px 0; color:#FFF; width:100%;}

.edit_prof_box{width:80%; background:#f3f3f3; border:none; padding:6px 10px; margin:0 0 6px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; color:#333; box-shadow:2px 2px 2px -1px rgba(0, 0, 0, 0.8);}

/*.select_box{width:87%; background: rgba(255, 255, 255, 0.7); border:none; padding:6px 3px; margin:0 0 15px; border-radius:4px; -moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}*/

.gender{margin: 0px auto; border:none; border-radius: 4px; text-align: left; padding: 5px 7px; width: 82%; color: rgb(51, 51, 51); background: rgba(255, 255, 255, 0.7);}

.edit-prof-btn{background: none repeat scroll 0% 0% rgb(118, 185, 35); border: medium none; color: rgb(255, 255, 255); margin: 5% 0px 0px; padding: 2% 4%; box-shadow:2px 2px 2px -1px rgba(0, 0, 0, 0.8);}

.load-more{background: none repeat scroll 0% 0% rgb(118, 185, 35); border: medium none; color: rgb(255, 255, 255); margin:0px; padding: 2% 4%; box-shadow:2px 2px 2px -1px rgba(0, 0, 0, 0.8);}

.edit_prof_inputs{margin:7% 0 0;}

.see_prof{margin:0;}

.see-status{margin:5% 0; font-size:14px; color:#76b923;}
.see-status-title{color:#222222;}

.add-frnd-list{width: 100%; margin: 0px auto 10px; height:369px; overflow-y:scroll;}
.plug-frnd-main{width:48%; float: left; margin: 15px 0px 0px 5px; border-bottom:1px dotted;}
.plug-frnd{padding: 0px; font-size: 12px; font-family:sans-serif; color:#555; font-weight: bold; width:100%; line-height:50px; background:#f3f3f3; border-top-left-radius:100%; border-bottom-left-radius:100%;}

.plug-btn-div{width:100%;}
.plug-btn{float:right;background:url(../images/plug.png) no-repeat left 3px center / 11px auto rgba(118, 185, 35, 1); border: medium none; color: rgb(255, 255, 255); margin:0px; padding:3% 4% 3% 12%; cursor:pointer;}

.menu-shadow{margin:15px 0 0 0; width:100%;}
.menu-shadow img{width:100%; opacity:0.5;}

.inner-pages {
position: absolute; background: none repeat scroll 0% 0% rgb(255, 255, 255); top: 0px; width: 96%; margin: 0px 2%;
}

.wordwall-btns{width:100%; margin:0 auto;}
.like-btn{padding:7px 15px; border-bottom-right-radius:7px; border-top-left-radius:7px; background:rgba(118, 185, 35, 0.7); border:none; color:#fff;text-shadow:0 1px 0 rgba(0, 0, 0, 0.7);}

.post-status{width:100%; margin:0 auto 15px;background:#f3f3f3; padding:10px 0;}
.post-input{background:#fff;border:none; box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.7); padding: 7px 10px; width: 60%;}
.post-btn{padding:0; border:none; background:url(../images/add-status.png) no-repeat center center rgba(0, 0, 0, 0); background-size:100%; width:30px; height:30px;}
.post-text-btn{background:#00afbf; color:#FFF; padding:7px 10px; border:none; box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.7); font-size:12px;}
.user-name-title{color:#00afbf; font-weight:bold;}
.user-name-title span{color:#333;}
.user-title p{margin:5px 0;}


/*-- This css for Mobile's different resolutions --*/

@media screen and (max-device-width: 480px) and (max-device-height: 320px){
	
	}



